{% extends 'base.html.twig' %}

{% block titleQuestionnaire %} {{ questionnaire.nom }} {% endblock %}

{% block body %}
    <header>
        <div class="container-fluid" id="headerAccueil">		  		
            <div class="row">                    
                <div class="col-lg-12">
                    <h1>{% block titleQuestionnaire %}{% endblock %}</h1>                        
                </div>
            </div>
        </div>
    </header>

    <section class="container-lg">
        
        <p>{{ questionnaire.presentation | raw }}</p>
        
        {% if (isV2 == false) %}
	        <form action="{{ path('submitQuestionnaire', {'id':questionnaire.cle}) }}" method="post" class="col-lg-12 needs-validation" name="formulaire" novalidate>
        {% else %}
            <form action="{{ path('submitQuestionnaireV2', {'id':questionnaire.cle}) }}" method="post" class="col-lg-12 needs-validation" name="formulaire" novalidate>
        {% endif %}
        {% set nb = 1 %}
        {% set i = 1 %}

        {% for question in questionnaire.field %}            

            {% if (question.typeQuestion == 1) or (question.typeQuestion == 2) %}
                {% set lenghtReponse = "long" %}
            {% else %}
                {% set lenghtReponse = "court" %}
            {% endif %}

            {% if (question.obligatoire == true) %}
                {% set id = 'id|' ~ question.id ~ '|vrai|' ~ lenghtReponse %}
                {% set require = "required" %}
                {% set asterisque = "*" %}
                {% set classChoixMultiple = "choixMultiple" %}
            {% else %}
                {% set id = 'id|' ~ question.id ~ '|faux|' ~ lenghtReponse %}
                {% set require = "" %}
                {% set asterisque = "" %}
                {% set classChoixMultiple = "" %}
            {% endif %}

            {% if (question.aide != "") %}
                {% set aide = '<small id="passwordHelpBlock" class="form-text text-muted">' ~ question.aide ~ '</small>' %}            
            {% else %}
                {% set aide = "" %}            
            {% endif %}

            {# bloc texte #}
            {% if (question.typeQuestion == 8) %}
                <div class="blocTexte libelleQuestion">{{ question.libelle }}</div>
            {% endif %}
            
            {# texte court #}
            {% if (question.typeQuestion == 1) %}
                <div class="element form-group">								
                    <label for="{{ id }}" class="libelleQuestion">{{ nb ~ ". " ~ question.libelle}} <span class="asterisque">{{ asterisque }}</span></label>
                    {{ aide | raw }}
                    <input id="{{ id }}" name="{{ id }}[]" type="text" class="form-control" aria-describedby="passwordHelpBlock" {{ require }}>                    
                    <div class="invalid-feedback">
                        Veuillez remplir ce champ.
                    </div>							        				
                </div>
            {% endif %}

            {# texte long #}
            {% if (question.typeQuestion == 2) %}
                <div class="form-group element">
                    <label for="{{ id }}" class="libelleQuestion">{{ nb ~ ". " ~ question.libelle}} <span class="asterisque">{{ asterisque }}</span></label>													
                    {{ aide | raw }}
                    <textarea id="{{ id }}" name="{{ id }}[]" type="textarea" class="form-control" {{ require }}></textarea>								                    
                    <div class="invalid-feedback">
                        Veuillez remplir ce champ.
                    </div>
                </div>
            {% endif %}

            {# choix unique #}
            {% if (question.typeQuestion == 3) %}
                <div class="form-group element">                    
                    <legend class="libelleQuestion">{{ nb ~ ". " ~ question.libelle}} <span class="asterisque">{{ asterisque }}</span></legend>		                
                    {{ aide | raw }}                  
                        <div class="row">                            
                            {% for value in question.choix %}		                                                                
                                <div class="col-12">
                                    <div class="custom-control custom-radio custom-control-inline">						
                                        <input type="radio" class="custom-control-input" id="{{ 'customControlValidation' ~ i}}" name="{{ id }}[]" value="{{ value.LibelleChoix | e }}" {{ require }}>
                                        <label class="custom-control-label" for="{{ 'customControlValidation' ~ i}}">{{ value.LibelleChoix | e }}</label>
                                        {% if loop.last == true %}                                    
                                            <div class="invalid-feedback">Veuillez cocher une case.</div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% set i = i+1 %}
                            {% endfor %}                                                                        
                        </div>                      
                </div>
            {% endif %}

            {# choix multiple #}
            {% if (question.typeQuestion == 4) %}
                <div class="form-group element {{ classChoixMultiple }}">
                    <legend class="libelleQuestion">{{ nb ~ ". " ~ question.libelle}} <span class="asterisque">{{ asterisque }}</span></legend> 
                    {{ aide | raw }}
                    <div class="row">                                              
                        {% for value in question.choix %}      
                            <div class="col-12">
                            {# <div class="d-flex align-items-center"> #}
                                <div class="custom-control custom-checkbox mb-3 custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="{{'customControlValidation' ~ i}}"  name="{{ id }}[]" value="{{ value.LibelleChoix | e }}">
                                    <label class="custom-control-label" for="{{'customControlValidation' ~ i}}">{{ value.LibelleChoix | e }}</label>
                                    {% if loop.last == true %}
                                        <div class="invalid-feedback">Veuillez cocher une case.</div>
                                    {% endif %}
                                </div>                    
                            {# </div> #}
                            </div>
                            {% set i = i+1 %}
                        {% endfor %}
                    </div>                    
                </div>
            {% endif %}

            {# liste déroulante #}
            {% if (question.typeQuestion == 5) %}
                <div class="element">
                    <legend class="libelleQuestion">{{ nb ~ ". " ~ question.libelle}} <span class="asterisque">{{ asterisque }}</span></legend>
                    {{ aide | raw }}
                    <div class="form-group">					
                        <select class="custom-select" name="{{ id }}[]" {{ require }}>
                            <option value="">Ouvrez ce menu de sélection</option>                            									
                            {% for value in question.choix %}
                                <option value="{{ value.LibelleChoix | e }}">{{ value.LibelleChoix | e }}</option>				
                            {% endfor %}                            
                        </select>
                        <div class="invalid-feedback">Veuillez choisir un élément de la liste.</div>
                    </div>                   
                </div>
            {% endif %}

            {# notation #}
            {% if (question.typeQuestion == 6) %}
                <div class="form-group element">
                    <legend class="libelleQuestion">{{ nb ~ ". " ~ question.libelle}} <span class="asterisque">{{ asterisque }}</span></legend>                                            
                    {{ aide | raw }}
                    {% for j in question.borneInf..question.borneSup %}                            										                        
                        <div class="custom-control custom-radio custom-control-inline">						
                            <input type="radio" class="custom-control-input" id="{{ 'customControlValidation' ~ id ~ j }}" name="{{ id }}[]" value="{{ j }}" {{ require }}>
                            <label class="custom-control-label" for="{{ 'customControlValidation' ~ id ~ j }}">{{ j }}</label>
                            {% if loop.last == true %}                                    
                                <div class="invalid-feedback">Veuillez cocher une case.</div>
                            {% endif %}
                        </div>                    
                    {% endfor %}                    
                </div>
            {% endif %}

            {# case à cocher #}            
            {% if (question.typeQuestion == 7) %}            
                <div class="form-group element">
                    <legend class="libelleQuestion">{{ nb ~ ". " ~ question.libelle}} <span class="asterisque">{{ asterisque }}</span></legend>
                    {{ aide | raw }}
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="{{'customControlValidation' ~ id}}"  name="{{ id }}[]" {{ require }}>
                        <label class="custom-control-label" for="{{'customControlValidation' ~ id}}"></label>
                        <div class="invalid-feedback">Veuillez cocher une case.</div>
                    </div>                    
                </div>                
            {% endif %}

            {% if question.typeQuestion != 8 %}
                {% set nb = nb+1 %}
            {% endif %}

        {% endfor %}
            
            {# si questionnaire anonyme #}
            {% if (questionnaire.anonyme == true) %}
                <div class="form-group element">
                    {# <legend>Cochez cette case si vous souhaitez que vos réponses soient traitées de manière anonyme.</legend> #}
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="anonyme"  name="anonyme">
                        <label class="custom-control-label libelleQuestion" for="anonyme">Cochez cette case si vous souhaitez que vos réponses soient traitées de manière anonyme.</label>                        
                    </div>                    
                </div>
            {% endif %} 

            <button id="btnSubmit" type="button" class="btn btn-primary float-right validation">ENVOYER</button>

	    </form>
 
	    <p id="infoAsterisque">Les champs marqués d'un astérisque (*) sont obligatoires.<p>

    </section>

    {#popup de confirmation#}
    <!--Popup de connexion-->
  	<div class="modal" id="modalConfirmation">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">							        
        			<h4 class="modal-title">Confirmez-vous l'envoi de vos réponses ?</h4>        			
      			</div>
     			<div class="modal-body">        			       				
                    <button id="btnAnnulation" type="button" class="btn btn-primary close" data-dismiss="modal">NON</button>				
                    <button class="btn btn-primary inscription" id="btnConfirmation">OUI</button>       				
	      		</div>
	    	</div>
	  	</div>
	</div>

    {# <section class="container-fluid"> #}
    
    
    <div class="card text-center footer">
        <div class="card-footer text-muted">
            <footer>Ce questionnaire vous est envoyé par {{ questionnaire.societe }} qui utilise {{ servicename }} pour envoyer ses questionnaires.</footer>            
        </div>
    </div>        
    
    {# </section> #}
    
{% endblock %}
